html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: scroll;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    z-index: 10;
    }
    
    header .logo {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    color: azure;
    text-shadow: 2px 2px 8px  black;
    }
    
    
    .top-nav a {
    margin-left: 20px;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 800;
    color: white;
    text-decoration: none;
    transition: 0.3s;
    font-size: 18px;
    
    }

    .rolex-logo img{
        width: 150px;
        margin-top: 100px;
        margin-left: 880px;
    }


    h1{
        margin-top: 40px;
        color:azure;
        font-size: 100px;
        text-align: center;
        justify-content: center;    
        text-shadow: 2px 2px 8px #006039;
    }


    .tag-line{
        margin-top: 100px;
        margin-left: 100px;
        color:#006039;
        font-size: 40px;
        font-weight: 800;
        text-align: left;
        justify-content: center;    
        text-shadow: 2px 2px 8px rgb(255, 255, 255);
        font-family: monospace;
    }

    .story-topic{
        margin-top: 60px;
        margin-left: 100px;
        color:#000000;
        font-size: 20px;
        font-weight: 800;
        text-align: left;
        justify-content: center;    
        text-shadow: 2px 2px 8px rgb(255, 255, 255);
        width: 25%;
        font-family: monospace;
    }

    .paragraph{
        margin-top: 45px;
        margin-left: 100px;
        color:#000000;
        font-size: 20px;
        font-weight: 500;
        text-align: left;
        justify-content: center;    
        text-shadow: 2px 2px 8px rgb(255, 255, 255);
        width: 25%;
      
    }


    
    
    

    .mission {
        
        margin-top: 60px;
        margin-left: 100px;
        color:#006039;
        font-size: 40px;
        font-weight: 800;
        text-align: left;
        justify-content: center;    
        font-family: monospace;
        width: 50%;
    }


    .m-description{
        font-family: monospace;
        margin-top: 45px;
        margin-left: 100px;
        color:#000000;
        font-size: 20px;
        font-weight: 800;
        text-align: left;
        justify-content: center;    
       
        width: 30%;
    }

    .M-paragraph{
        margin-top: 45px;
        margin-left: 100px;
        color:#000000;
        font-size: 20px;
        font-weight: 500;
        text-align: left;
        justify-content: center;    
        text-shadow: 2px 2px 8px rgb(255, 255, 255);
        width: 25%;
    }




    .footer img{
        width: 100%;
        margin-top: 400px;
    }






